<%= form_for(@ord, remote: true) do |f| %>
<form role="form">
  <div class="input-group">
    <%= f.text_field :swedish, class: "form-control", placeholder: "Ord på svenska" %>
      <span class="input-group-btn">
        <%= f.submit 'Klar!', class: "btn btn-default", tabindex: "2" %>
      </span>
  </div>
  <div class="form-group">
    <%= f.text_field :english, class: "form-control", placeholder: "Ord på engelska" %>
  </div>
</form>
<% end %>