<div class='ord'>
  <%= ord.english %>
  <span class='arrow'>&rarr;</span>
  <span class='swedish'><%= ord.swedish %></span>


  <div class='hover-icons'>
    <i class="fa fa-volume-up"></i>
  </div>

</div>